body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 130px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}

  /* HEADER START */

.header {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(130,130,130,1) 0%, rgba(0,0,0,0.7973783263305322) 100%);
  color: rgba(250, 250, 250, .9);
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr 1fr;
  grid-template-areas:
    "top"
    "bottom";
}

.header .top {
  grid-area: top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header .top .left {
  display: flex;
  align-items: center;
}

.header .top .left img {
  margin-top: 3px;
  padding-left: 10px;
  height: 40px;
  width: 50px;
}

.header .top .left input {
  width: 450px;
  height: 20px;
  padding-left: 5px;
  border-radius: 30px;
  border: none;
  background-color: rgb(210, 210, 210);
}

.header .top .right {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-right: 60px;
  gap: 15px;
}

#bell-icon{
  margin-top: 10px;
  margin-right: -15px;
  width: 70px;
  height: 50px;
}

#user-icon {
  height: 50px;
  width: 65px;
}

.header .bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .bottom .left {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.user-greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.user-greeting p {
  margin: 0;
}
.bottom .left img {
  height: 60px;
  width: 80px;
}

#user-name {
  font-size: 20px;
  letter-spacing: .9px;
}

.header .bottom .right {
  display: flex;
  gap: 15px;
  padding-right: 61px;
}

.header .bottom .right button {
  background-color: rgb(210, 210, 210);
  font-size: 15px;
  padding-right: 10px;
  margin-top: 4px;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  border: none;
}

  /* HEADER END */

  /* SIDEBAR START */

.sidebar {
  grid-area: sidebar;
  color: white;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "logo logo"
    "menu menu";
    border-right: 6px solid rgba(23, 196, 23, 0.339);
    background-image: url(images/bg_01.webp);
}

.sidebar > .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  margin-left: 28px;
  margin-top: 25px;
  gap: 10px;
}

.sidebar > .logo > img {
  height: 45px;
  width: 45px;
  opacity: .9;
  background: linear-gradient(90deg, rgba(46,83,46,1) 0%, rgba(198,222,227,1) 100%);
  border-radius: 1.5px;
}

.sidebar > .logo > h1 {
  opacity: .7;
  text-shadow: 1px 1px 50px;
}

.menu {
  grid-area: menu;
}

.menu > div {
  margin-left: 42px;
  margin-top: 45px;
}

.menu-container > div {
  gap: 24px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.menu-container2 > div {
  gap: 24px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

#communities-img {
  margin-left: -1px;
  object-fit: fill;
  width: 22px;
  height: 16px;
}

#home-img {
  margin-left: -2px;
  object-fit: fill;
  width: 25px;
  height: 20px;
}

#home-p {
  margin-left: -2px;
}

#profile-img {
  object-fit: contain;
  height: 23px;
  width: 22px;
  margin-left: -1px;
}

.menu p {
  color: rgba(255, 255, 255, 0.79);
  margin: 0;
  padding: 0;
  font-size: 18px;
  transition: .1s all;
}

.menu p:hover {
  color: rgba(255, 255, 255, 0.856);
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.01);
}


.menu p:active {
  color: rgba(255, 255, 255, 0.271);
}

.menu-container, .menu-container2 div:hover {
  transform: scale(1.02);
}

.menu-container div:hover {
  transform: scale(1.02);
}

.menu div img {
  opacity: .8;
  height: 10px;
  width: 10px;
}


  /* SIDEBAR END */


 /* MAIN START */
.main {
  background-color: rgba(226,232,240,255);
  grid-area: main;
  display: grid;
  grid-template-columns: .75fr .25fr;
  grid-template-rows: 1fr .25fr;
  grid-template-areas:
    "projects announcements"
    "projects trending";
  gap: 30px;
}

.main .projects {
  padding: 10px;
  grid-area: projects;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 55px;
}

.project {
  padding-left: 25px;
  width: 340px;
  height: 145px;
  border-left: 7px solid rgba(250,204,21,255);
  border-radius: 5px;
  box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
}

.card-icons {
  display: flex;
  gap: 15px;
  margin-left: 235px;
}
.card-icons img {
  width: 20px;
  height: 20px;
}

.main .projects h3 {
  margin: 0 0 15px 55px;
  height: 30px;
  width: 130px;
  font-size: 20px;
}
.main .trending {
  margin-right: 28px;
  grid-area: trending;
}

.main .trending h3 {
  font-size: 20px;
}

.main .announcements {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 0;
  margin-bottom: 0;
  grid-area: announcements;
}

.announcements-cards {
  border-radius: 10px;
  box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.077);
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom:0;
}

.announcements h3 {
  padding-top: -30px;
  margin-bottom: 20px;
  margin-top: -1px;
}

.announcement h5 {
  letter-spacing: 1px;
}

.announcement p {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.main .announcements h3 {
  font-size: 20px;
}

h3 {
  color:rgba(27, 29, 27, 0.788);
}

.logo > img {
  width: 70px;
  height: 70px;
}

.menu div img {
  height: 20px;
  width: 20px;
}

.logo > h1 {
  color: white;
  letter-spacing: 2px;
}

.trending {
  margin-bottom: 60px;
  margin-right: 40px;
  padding: 0;
}

.trending-cards {
  padding: 0;
  box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -webkit-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: 6px 7px 12px 2px rgba(0,0,0,0.12);
  padding-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.trending-cards > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending-cards img {
  height: 30px;
  width: 30px;
}

h3 {
  font-size: 10px;
  height: 16px;
  width: 60px;
}

h5 {
  margin: 0;
  padding:0;
}

.trending-cards div p {
  margin: 0;
  padding:0;
}
/* MAIN END */
